/*Background*/

#bg {
    background-image: url(../Imagens/wepik-export-20230502190805.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

/*Images Styles*/

.content {
    .image-section {
        display: flex;
        flex-direction: row;
    
        position: relative;
        top: 100px;
    }
}

.image-section {
    .main-image {
        width: 500px;
    }
}

.image-section {
    .image-title {
        width: 100px;
        font-family: 'Montserrat', sans-serif;
    
        font-weight: 700;
        font-size: 2rem;
        
        position: relative;
        top: 135px;
        right: 10%;
    
        color: #2d2d2d;
    }
}

/**/