/*Header*/

.header {
    color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 3%;
    padding-left: 4%;
    padding-right: 4%;
  }
  
  .logo-icon {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.3rem;
  }

  /*Menu nav*/
  
  .menu-links {
    display: flex;
    flex-direction: row;
    gap: 70%;
    
    margin-right: 250px;
  }
  
  .link {
    color: white;
    text-decoration: none;
    
    font-size: 0.9rem;
  }